spring:
  datasource:
    url: jdbc:${DATABASE_URL:postgresql://localhost:5432/myblog?serverTimezone=UTC}
    username: postgres
    password:
    driver-class-name: org.postgresql.Driver
  jpa:
    generate-ddl: false
    show-sql: false
    hibernate:
      ddl-auto: validate
  servlet:
    multipart:
      max-file-size: 6MB
      max-request-size: 6MB
      enabled: true
  sendgrid:
    api-key:

upload:
  path: http://res.cloudinary.com/dxywt3ld7/image/upload

server:
  port: ${PORT:8080}

appEmail:
  email: 

captchaExpirationTime: 1

blogInfo:
  title: "DevPub"
  subtitle: "Program developer stories"
  phone: "+7 903 666-44-55"
  email: "mail@mail.ru"
  copyright: "Dmitry Sergeev"
  copyrightFrom: "2005"





