spring.datasource.url: jdbc:postgresql://localhost/myblog
spring.datasource.username: postgres
spring.datasource.password:
spring.jpa.generate-ddl: false
spring.jpa.show-sql: false
spring.jpa.hibernate.ddl-auto: validate

appEmail:
  email: javaentwickler20@gmail.com
  password: Sjeu#94Tn1Uaq83z

captchaExpirationTime: 1

spring.servlet.multipart.max-file-size: 10MB
spring.servlet.multipart.max-request-size: 10MB
spring.servlet.multipart.enabled: true
upload.path: /Users/alex/Desktop/upload


